.list {
  list-style: none;
    background-image: linear-gradient(rgba(234, 234, 236, 0.926), rgba(231, 231, 236, 0.7)), url(../Images/photo-film.jpg);
    background-size: cover;
    width: 100%;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}